.h1{
font-size: 80px;
    text-align: center;
    color: aliceblue;
}
.h2{ font-size: 30px;}
.container{
    display: flex;
}
.body{

    background-color: rgb(191, 123, 255);
}
#mostrarh{
    margin-top: 10px;
    display: none;
    background-color: palevioletred;
}
.body2{

background-color: rgb(212, 40, 255);

}
.but{
background-color: rgb(191, 123, 255);
border: rgb(191, 123, 255);
color: aliceblue;
font-size: 30px;
margin: 8px;

}
.but:hover{
color:rgb(91, 0, 99);
    background-color: palevioletred;
}